firebase-admin 
streamlit
speechrecognition
streamlit-webrtc
av
numpy
openai 
pydub 
google-auth 
google-auth-oauthlib 
google-auth-httplib2 
google-api-python-client
gspread
streamlit-javascript
torch
xarray
cdsapi>=0.7.4
matplotlib
h5netcdf
scipy
netcdf4
